/////PAGINA STATUS

//BOTÕES PRINCIPAIS
.btn-voltar {
    color: white !important;
    display: block;
    border-radius: 25px;
    width: 35vw;
    font-weight: 600;
    font-size: 1rem;
    background: #03568a;
}
.btn-voltar1 {
    background: #36a6d4;
    border-radius: 25px;
    color: white;
    position: relative;
    left: 0;
    top: -17px;
    width: 28%;
}
.btn-voltar2{
    background: #36a6d4;
    border-radius: 25px;
    color: white;
    padding: 15px 35px;
    font-weight: 800;
    font-size: 21.3333px;
    line-height: 32px;
}
.btn-continuar{
background-color: #35A40E;
border-radius: 25px;
padding: 15px 35px;
font-weight: 800;
font-size: 21.3333px;
line-height: 32px;
color: #ffffff;
}

.btn-info{
    background: #36a6d4 !important;
    color: white !important;
    border-radius: 25px;
    width: 120px;
}

.btn-filtrar {
    color: white !important;
    display: block;
    border-radius: 25px;
    width: 35vw;
    font-weight: 600;
    font-size: 1rem;
    background: #36a6d4;
}

//CAMPOS INFORMATIVOS E OS STATUS DE ENTREGAS
.status {
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.status-in {
    padding: 20px 0;

    p {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    button {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.item {
    p {
        color: #03568a;
        font-weight: bold;
        align-self: flex-end;
        text-align: center;
    }
}

.botao {
    display: block;
    width: 40vw;
    border: none;
}

.btn-status1 {
    background: #03568a;
    border-radius: 25px;
    color: white;
    align-items: center;
    justify-content: center;
}

.btn-status0 {
    background: #0472b7;
    border-radius: 25px;
    color: white;
    align-items: center;
    justify-content: center;
}

.btn-status2 {
    background: #35a40e;
    border-radius: 25px;
    color: white;
    align-items: center;
    justify-content: center;
}

//// PAGINA ENCOMENDAS

.inicio {
    justify-content: space-around;
    align-items: center;

    span {
        color: #03568a;
        font-size: 1.2rem;
    }
}

//TABELAS
.detail {
    color: #03568a;
    font-size: 1.1rem;
    font-weight: bold;
}

.itens {
    justify-content: space-around;
    align-items: center;
    color: #03568a;
}

//CAIXA AZUL
.square {
    background-color: #0075ad;
    width: 100%;
    height: 180px;

    span {
        color: white;
    }

    //BOTOES DE STATUS DE ENTREGA
    .botao-trans {
        background-color: #040824;
        color: white;
        border-radius: 18.3333px;
    }

    .botao-prep {
        background-color: #f201a0;
        color: white;
        border-radius: 18.3333px;
    }

    .botao-entr {
        background-color: #35a40e;
        color: white;
        border-radius: 18.3333px;
    }

    .avaliar {
        justify-content: space-around;

        button {
            width: 35vw;
            display: block;
            border-radius: 18.3333px;
        }
    }

    #linha-horizontal {
        width: 100%;
        border: 1px solid gray;
    }
}

//PAGINA OKAY////

.checkad {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-ok {
    color: #03568a;

    h1 {
        font-weight: bold;
        font-size: 3rem;
    }
}

.botao-enc {
    background-color: #36a6d4;
    color: white;
    border: none;
    box-shadow: 0px 0px 27.8858px rgba(196, 193, 193, 0.65);
    border-radius: 10.1403px;
    width: 75vw;
    height: 8vh;
}



.porto-nome{
    display: flex;
    align-items: center;
}
.trocar-porto{
    display: flex;
    justify-content: end;
}