.main {
  padding-bottom: 50px;
}

.nav-tabs .nav-link {
  color: white !important;
  font-weight: 600;
  font-size: 18px;
}

.nav-link.active {
  color: black !important;
}

.ativos {
  background-color: white;
  height: 177px;
}

.ativos h3 {
  color: #03568a;
  font-weight: 800;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
}

.ativos a {
  background-color: #35a40e;
  padding: 14px;
  border-radius: 18px;
  color: white;
  font-size: 22px;
  font-weight: 700;
  margin-left: 18px;
}

.ativos span {
  background-color: #35a40e;
  padding: 32px 25px;
  border-radius: 50%;
  color: white;
  font-size: 28px;
  font-weight: 700;
}

.inativos {
  background-color: white;
  height: 177px;
}

.inativos h3 {
  color: #03568a;
  font-weight: 800;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
}

.inativos a {
  background-color: #de1313;
  padding: 14px;
  border-radius: 18px;
  color: white;
  font-size: 22px;
  font-weight: 700;
  margin-left: 18px;
}

.inativos span {
  background-color: #de1313;
  padding: 32px 25px;
  border-radius: 50%;
  color: white;
  font-size: 28px;
  font-weight: 700;
}

.peixes {
  background-color: white;
  height: 137px;
  border-radius: 15px;
}

.peixes h3 {
  color: #03568a;
  font-weight: 800;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
}

.peixes a {
  background-color: #de1313;
  padding: 14px;
  border-radius: 18px;
  color: white;
  font-size: 22px;
  font-weight: 700;
  margin-left: 18px;
}

.peixes span {
  background-color: #de1313;
  padding: 32px 25px;
  border-radius: 50%;
  color: white;
  font-size: 28px;
  font-weight: 700;
}

.peixes .button a {
  width: 237px;
  height: 47px;
  background: #03568a;
  border-radius: 18px;
}

@media (max-width: 360px) {
  .ativos {
    background-color: white;
    height: 177px;
  }
  .ativos h3 {
    color: #03568a;
    font-weight: 800;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
  }
  .ativos a {
    background-color: #35a40e;
    padding: 7px;
    border-radius: 18px;
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin-left: 18px;
  }
  .ativos span {
    background-color: #35a40e;
    padding: 32px 25px;
    border-radius: 50%;
    color: white;
    font-size: 28px;
    font-weight: 700;
  }
  .inativos {
    background-color: white;
    height: 177px;
  }
  .inativos h3 {
    color: #03568a;
    font-weight: 800;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
  }
  .inativos a {
    background-color: #de1313;
    padding: 7px;
    border-radius: 18px;
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin-left: 18px;
  }
  .inativos span {
    background-color: #de1313;
    padding: 32px 25px;
    border-radius: 50%;
    color: white;
    font-size: 28px;
    font-weight: 700;
  }
  .peixes {
    background-color: white;
    height: 160px;
    border-radius: 15px;
  }
  .peixes h3 {
    color: #03568a;
    font-weight: 800;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
  }
  .peixes a {
    background-color: #de1313;
    padding: 14px;
    border-radius: 18px;
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin-left: 18px;
  }
  .peixes span {
    background-color: #de1313;
    padding: 32px 25px;
    border-radius: 50%;
    color: white;
    font-size: 28px;
    font-weight: 700;
  }
  .peixes .button a {
    width: 237px;
    height: 47px;
    background: #03568a;
    border-radius: 18px;
  }
  .wallet a {
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
  }
  .wallet h3 {
    color: white;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
  }
}

.list {
  padding-bottom: 80px;
}

.list p {
  font-weight: 800;
  font-size: 15.5798px;
  line-height: 23px;
  color: #ffffff;
  text-transform: uppercase;
}

.list h5 {
  font-weight: 500;
  font-size: 15.5798px;
  line-height: 23px;
  white-space: pre-line;
  color: #ffffff;
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.list .for {
  background-color: #0472b7;
  padding: 10px 0;
  word-wrap: break-word;
}

.list .remove {
  width: 155px;
  padding: 10px 50px;
  background: #de1313;
  border-radius: 18px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.list .remove a {
  font-weight: 800;
  font-size: 16px;
  line-height: 32px;
  color: white;
}

.list .nome {
  width: 80px;
}

#clock {
  font-weight: 500;
  font-size: 15.5798px;
  line-height: 23px;
  color: #ffffff;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.receber {
  color: #ffffff;
  background-color: #35a40e;
  border-radius: 8px;
}

.receber input {
  color: white;
  border: none;
}

.receber ::-webkit-input-placeholder {
  color: white !important;
}

.receber :-moz-placeholder {
  /* Firefox 18- */
  color: white !important;
}

.receber ::-moz-placeholder {
  /* Firefox 19+ */
  color: white !important;
}

.receber :-ms-input-placeholder {
  color: white !important;
}

input#check_unidade {
  margin: 0 17px;
}

input#check_kg {
  margin: 0 -20px;
}
/*# sourceMappingURL=main.css.map */