$color1: #f4f4f4;
$color2: #3197ee;
$primary-color: rgb(12, 112, 180);
$secondary-color: rgb(240, 139, 59);
$medium-color: rgb(84, 103, 117);
$standard-font: normal 400 18px "PT Sans", sans-serif;
body,
html {
  height: 100%;
}
main {
  background-color: #03568a;
  // height: 100vh;
  font-family: "Poppins", sans-serif;
  a {
    text-decoration: none !important;
  }
}

.header {
  background: #36a6d4;
}

.title {
  h4 {
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.5em;
  }
}
.wallet {
  background: #36a6d4 !important;
  border-radius: 15px;
  height: 136px;
  a {
    color: white;
    font-size: 21.3333px;
    font-weight: 800;
    text-transform: uppercase;
  }
  h3 {
    color: white;
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
  }
}
.ativos {
  background: #0472b7;
  border-radius: 15px;
  height: 136px;
  a {
    font-weight: 800;
    font-size: 21.3333px;
    color: white;
    text-transform: uppercase;
  }
  h3 {
    color: white;
    font-size: 41.8667px;
    font-weight: 800;
    text-transform: uppercase;
  }
}
.inativos {
  background: #e90202;
  border-radius: 15px;
  height: 136px;
  a {
    font-weight: 800;
    font-size: 21.3333px;
    color: white;
    text-transform: uppercase;
  }
  h3 {
    color: white;
    font-size: 41.8667px;
    font-weight: 800;
    text-transform: uppercase;
  }
}
.incompletos {
  background: #35a40e;
  border-radius: 15px;
  height: 136px;
  a {
    font-weight: 800;
    font-size: 21.3333px;
    color: white;
    text-transform: uppercase;
  }
  h3 {
    color: white;
    font-size: 41.8667px;
    font-weight: 800;
    text-transform: uppercase;
  }
}
.menu {
  justify-content: space-evenly;
  .pl {
    background: #ffffff;
    border-radius: 15.8571px;
    padding: 15px;
  }
  a {
    color: #03568a;
    font-weight: 800;
    font-size: 17.5855px;
    line-height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.voltar {
  background: #0472b7;
  a {
    font-weight: 800;
    font-size: 18px;
    line-height: 32px;
    color: white;
  }
  font-weight: 800;
  font-size: 18px;
  line-height: 32px;
  color: white;
}
.cadastro {
  height: 100%;
}
.cad {
  background: #ffffff;
  border-radius: 15.8571px;
  height: 148px;
  padding: 35px 0;
  margin: 50px 0;
  p {
    font-weight: 800;
    font-size: 17.5855px;
    line-height: 15px;
    text-align: center;

    color: #03568a;
  }
}

// VARIABLES // ============================== //
$bg-color: #424242;
$hl-color: #2196f3;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 320px;

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  background: $bg-color;
}

// FORM // ============================== //
form {
  width: $width;
  margin: 45px auto;

  h1 {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    color: $hl-color;
  }
  h5 {
    text-align: center;
    text-transform: uppercase;
    color: $muted-color;
  }
  hr.sep {
    background: $hl-color;
    box-shadow: none;
    border: none;
    height: 2px;
    width: 25%;
    margin: 0px auto 45px auto;
  }
  .emoji {
    font-size: 1.2em;
  }
}

.group {
  position: relative;
  margin: 45px 0;
}

// INPUTS // ============================== //
textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: $muted-color;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: $width;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $muted-color;
  &:focus {
    outline: none;
  }
  &:focus ~ label,
  &:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: $hl-color;
  }
  &:focus ~ .bar:before {
    width: $width;
  }
}

input[type="password"] {
  letter-spacing: 0.3em;
}

label {
  color: $muted-color;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: $trans-time ease all;
}

.bar {
  position: relative;
  display: block;
  width: $width;
  &:before {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: $hl-color;
    transition: $trans-time ease all;
    left: 0%;
  }
}

// BUTTONS // ============================== //
.btn {
  background: #fff;
  color: mix(black, $muted-color, 25%);
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    color: mix(black, $muted-color, 30%);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
  }
  &.btn-link {
    background: $hl-color;
    color: mix(white, $hl-color, 80%);
    &:hover {
      background: darken($hl-color, 5%);
      color: mix(white, $hl-color, 85%);
    }
  }
  &.btn-submit {
    background: $hl-color;
    color: mix(white, $hl-color, 70%);
    &:hover {
      background: darken($hl-color, 5%);
      color: mix(white, $hl-color, 85%);
    }
  }
  &.btn-cancel {
    background: #eee;
    &:hover {
      background: darken(#eee, 5%);
      color: mix(black, $muted-color, 30%);
    }
  }
}

.btn-box {
  text-align: center;
  margin: 50px 0;
}


// radio
.mdc-form-field {
  label {
    position: relative;
    top: 6px;
  }
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.login-px {
  padding: 80px 0;
}
.login-py {
  padding-bottom: 80px;
}
.altura {
  height: 148px;
}
.pad {
  padding-bottom: 150px;
}

.dia {
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.inativo {
  padding: 50px 0;
  background-color: #0472b7;
  color: white;
  font-weight: 500;
  font-size: 15.5798px;
  line-height: 23px;
  a {
    text-decoration: none;
    color: white;
  }
  span {
    background-color: red;
    padding: 8px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.ativo {
  padding: 50px 0;
  background-color: #0472b7;
  color: white;
  font-weight: 500;
  font-size: 15.5798px;
  line-height: 23px;
  a {
    text-decoration: none;
    color: white;
  }
  span {
    background-color: #3eed00;
    padding: 8px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.in-p {
  p {
    color: white;
    font-weight: 600;
    font-size: 15.5798px;
    line-height: 23px;
    text-transform: uppercase;
  }
}
.form-group.input-material {
  // variables (normally global variables in Bootstrap scss)
  $gray-400: #ffffff;
  $primary: #ffffff;
  $danger: #dc3545;
  $black: rgb(255, 255, 255);
  // local variables
  $inactive-color: $gray-400;

  position: relative;
  margin-top: 50px;
  margin-bottom: 25px;

  label {
    color: darken($inactive-color, 10%);
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    bottom: 1px;
    transition: 0.1s ease all;
    -moz-transition: 0.1s ease all;
    -webkit-transition: 0.1s ease all;
  }

  /* textarea label */
  textarea.form-control {
    & ~ label {
      bottom: 90%; // fallback for browsers that do not support calc()
      bottom: calc(100% - 38px);
    }
  }

  .form-control,
  .form-select {
    border: none;
    border-bottom: 2px solid $inactive-color;
    border-radius: 0px;
    background-color: transparent;
    padding-left: 5px;
    box-shadow: none;

    /* required fields */
    &:required ~ label::after {
      content: "*";
      color: $danger;
      padding-left: 2px;
      font-size: 0.8em;
    }

    /* active state */
    &:focus,
    &[value]:not([value=""]) {
      border-bottom-color: $primary;
      color: $black;
    }

    &:focus ~ label,
    &[value]:not([value=""]) ~ label {
      top: unset;
      bottom: 100%; // fallback for browsers without calc() support
      bottom: calc(100% - 16px);
      font-size: 14px;
      color: $primary;
      font-weight: 500;
    }

    /* invalid state */
    &:focus.invalid,
    &.invalid,
    &:focus.parsley-error,
    &[value]:not([value=""]).parsley-error {
      border-bottom-color: $danger;
    }

    &:focus.invalid ~ label,
    &.invalid ~ label,
    &:focus.parsley-error ~ label,
    &[value]:not([value=""]).parsley-error ~ label {
      color: $danger;
    }
  }

  .form-select {
    background-position: right 0 center;
    padding-left: 0;
  }

  .parsley-errors-list {
    color: $danger;
    list-style: none;
    font-size: 0.7em;
    padding-left: 5px;
    position: absolute;
    top: 107%;
  }
}
.eye {
  font-size: 40px;
  color: white;
  text-align: center;
  margin-left: 35px;
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.eye-close {
  font-size: 40px;
  color: white;
  text-align: center;
  margin-left: 35px;
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.accordition-container {
    padding: 1px;
  }

  .acc {
    padding: 10px;
  }

  .accordition-header {

    cursor: pointer;
  }

  .accordition-body {
    display: none;
    background: #fff;
   p{
       color: black !important;
   }
  }
